<section>
			<div style="margin-left:5em;margin-right:5em;">
				<div class="row">
					<div>
						<div>Free Online Courses from</div>
						<h1>Massachusetts Institute of Technology</h1>
					</div>
					<div class="col col-md-8">
						The Massachusetts Institute of Technology is a private research university in 
						Cambridge, Massachusetts known traditionally for research and education in the physical 
						sciences and engineering, and more ...
						<br/><br/>
						<div class="btn-group" role="group" aria-label="...">
							<button type="button" class="btn btn-primary btn-lg">C</button>
							<button type="button" class="btn btn-default btn-lg">Follow</button>
							<button type="button" class="btn btn-primary btn-lg">171.2K</button>
						</div>
					</div>
				</div>
					
				</div>
			</div>
			<div style="margin-left:5em;margin-right:5em;">
				<div class="row">

					<div class="col-lg-3">
						<aside class="left-sidebar">
							
								<div class="widget">
									<h5 class="widgetheading">Showing 169 Courses</h5>
									<div class="">
										<div class="input-group">
											<span class="input-group-addon input-lg">
												<input type="checkbox" aria-label="...">
												With Certificates
											</span>
										</div>
									</div>
								</div>
								
								<div class="widget">
										<h4 class="widgetheading">By start date</h5>
										<div class="input-group">
											<span class="input-group-addon input-lg">
												<input type="checkbox" aria-label="...">
												Recently started <br/>or starting soon
											</span>
										</div>
										<div class="input-group">
											<span class="input-group-addon input-lg">
												<input type="checkbox" aria-label="...">
												Just Announced
											</span>
										</div>
										<div class="input-group">
											<span class="input-group-addon input-lg">
												<input type="checkbox" aria-label="...">
												Courses in Progress
											</span>
										</div>
										<div class="input-group">
											<span class="input-group-addon input-lg">
												<input type="checkbox" aria-label="...">
												Future Courses
											</span>
										</div>
										<div class="input-group">
											<span class="input-group-addon input-lg">
												<input type="checkbox" aria-label="...">
												Self Paced
											</span>
										</div>
										<div class="input-group">
											<span class="input-group-addon input-lg">
												<input type="checkbox" aria-label="...">
												Finished Courses
											</span>
										</div>
								</div>
										
								<div class="widget">
									<h4 class="widgetheading">By subject</h5>
									<div class="input-group">
										<span class="input-group-addon input-lg">
											<input type="checkbox" aria-label="...">
											Computer Science
										</span>
									</div>
									<div class="input-group">
											<span class="input-group-addon input-lg">
												<input type="checkbox" aria-label="...">
												Health & Medicine
											</span>
									</div>
									<div class="input-group">
										<span class="input-group-addon input-lg">
											<input type="checkbox" aria-label="...">
											Mathematics
										</span>
									</div>
									<div class="input-group">
										<span class="input-group-addon input-lg">
											<input type="checkbox" aria-label="...">
											Business
										</span>
									</div>
									<div class="input-group">
										<span class="input-group-addon input-lg">
											<input type="checkbox" aria-label="...">
											Humanities
										</span>
									</div>
									<div class="input-group">
										<span class="input-group-addon input-lg">
											<input type="checkbox" aria-label="...">
											Engineering
										</span>
									</div>
									<div class="input-group">
										<span class="input-group-addon input-lg">
											<input type="checkbox" aria-label="...">
											Science
										</span>
									</div>
									<div class="input-group">
												<span class="input-group-addon input-lg">
													<input type="checkbox" aria-label="...">
													Education & Teaching
												</span>
									</div>
									<div class="input-group">
												<span class="input-group-addon input-lg">
													<input type="checkbox" aria-label="...">
													Social Sciences
												</span>
									</div>
									<div class="input-group">
												<span class="input-group-addon input-lg">
													<input type="checkbox" aria-label="...">
													Art & Design
												</span>
									</div>
									<div class="input-group">
												<span class="input-group-addon input-lg">
													<input type="checkbox" aria-label="...">
													Data Science
												</span>
									</div>
									<div class="input-group">
												<span class="input-group-addon input-lg">
													<input type="checkbox" aria-label="...">
													Programming
												</span>
									</div>
									<div class="input-group">
												<span class="input-group-addon input-lg">
													<input type="checkbox" aria-label="...">
													Personal Development
												</span>
									</div>
								</div>
							
								<div class="widget">
											<h4 class="widgetheading">By language</h5>
											<div class="input-group">
												<span class="input-group-addon input-lg">
													<input type="checkbox" aria-label="...">
													English
												</span>
											</div>
											<div class="input-group">
												<span class="input-group-addon input-lg">
													<input type="checkbox" aria-label="...">
													Spanish
												</span>
											</div>
											<div class="input-group">
												<span class="input-group-addon input-lg">
													<input type="checkbox" aria-label="...">
													Chinese
												</span>
											</div>
											<div class="input-group">
												<span class="input-group-addon input-lg">
													<input type="checkbox" aria-label="...">
													Arabic
												</span>
											</div>
											<div class="input-group">
												<span class="input-group-addon input-lg">
													<input type="checkbox" aria-label="...">
													Turkish
												</span>
											</div>
											<div class="input-group">
												<span class="input-group-addon input-lg">
													<input type="checkbox" aria-label="...">
													Korean
												</span>
											</div>
								</div>
								
						</aside>
					</div>

					<div class="col-lg-9">
						<table class="table">
							<thead>
								<tr>
									<th></th>
									<th>Course Name</th>
									<th>Start Date</th>
									<th>Rating</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><div class="glyphicon glyphicon-list"></div></td>
									<td>
										<div>
											<div class="post-image">
												<div class="post-heading">
													<strong><a href="#">Machine Learning</a></strong>
												</div>
											</div>
											<div class="bottom-article">
												<ul class="meta-post">
													<li><a href="#">via edX</a></li>
													<li><i class="fa fa-user"></i><a href="#">15 hours a week, 9 weeks long</a></li>
												</ul>
											</div>
										</div>
									</td>
									<td>Self paced</td>
									<td></td>
								</tr>
								<tr>
									<td><div class="glyphicon glyphicon-list"></div></td>
									<td>
										<div>
											<div class="post-slider">
												<div class="post-heading">
													<strong><a href="#">Cryptography 1</a></strong>
												</div>
											</div>
											
											<div class="bottom-article">
												<ul class="meta-post">
													<li><a href="#">via edX</a></li>
													<li><i class="fa fa-user"></i><a href="#">15 hours a week, 9 weeks long</a></li>
												</ul>
											</div>
										</div>
									</td>
									<td>Self paced</td>
									<td></td>
								</tr>
								<tr>
									<td><div class="glyphicon glyphicon-list"></div></td>
									<td>
										<div>
											<div class="post-quote">
												<div class="post-heading">
													<strong><a href="#">Introduction to Mathematical thinking </a></strong>
												</div>
											</div>
											<div class="bottom-article">
												<ul class="meta-post">
													<li><a href="#">via edX</a></li>
													<li><i class="fa fa-user"></i><a href="#">15 hours a week, 9 weeks long</a></li>
												</ul>
											</div>
										</div>
									</td>
									<td>Self paced</td>	
									<td></td>
								</tr>
								<tr>
									<td><div class="glyphicon glyphicon-list"></div></td>
									<td>
										<div>
											<div class="post-video">
												<div class="post-heading">
													<strong><a href="#">Introduction to Computer Science and Programming Using Python</a></strong>
												</div>
					
											</div>
											<div class="bottom-article">
												<ul class="meta-post">
													<li><a href="#">via edX</a></li>
													<li><i class="fa fa-user"></i><a href="#">15 hours a week, 9 weeks long</a></li>
												</ul>
											</div>
										</div>
									</td>
									<td>Self paced</td>
									<td></td>
								</tr>
								<tr>
									<td><div class="glyphicon glyphicon-list"></div></td>
									<td>
										<div>
											<div class="post-image">
												<div class="post-heading">
													<strong><a href="#">Machine Learning</a></strong>
												</div>
											</div>
											<div class="bottom-article">
												<ul class="meta-post">
													<li><a href="#">via edX</a></li>
													<li><i class="fa fa-user"></i><a href="#">15 hours a week, 9 weeks long</a></li>
												</ul>
											</div>
										</div>
									</td>
									<td>Self paced</td>
									<td></td>
								</tr>
								<tr>
									<td><div class="glyphicon glyphicon-list"></div></td>
									<td>
										<div>
											<div class="post-slider">
												<div class="post-heading">
													<strong><a href="#">Cryptography 1</a></strong>
												</div>
											</div>
											
											<div class="bottom-article">
												<ul class="meta-post">
													<li><a href="#">via edX</a></li>
													<li><i class="fa fa-user"></i><a href="#">15 hours a week, 9 weeks long</a></li>
												</ul>
											</div>
										</div>
									</td>
									<td>
										<div>Self paced</div>
									</td>
									<td></td>
								</tr>
								<tr>
									<td><div class="glyphicon glyphicon-list"></div></td>
									<td>
										<div>
											<div class="post-quote">
												<div class="post-heading">
													<strong><a href="#">Introduction to Mathematical thinking </a></strong>
												</div>
											</div>
											<div class="bottom-article">
												<ul class="meta-post">
													<li><a href="#">via edX</a></li>
													<li><i class="fa fa-user"></i><a href="#">15 hours a week, 9 weeks long</a></li>
												</ul>
											</div>
										</div>
									</td>
									<td>Self paced</td>	
									<td></td>
								</tr>
								<tr>
									<td><div class="glyphicon glyphicon-list"></div></td>
									<td>
										<div>
											<div class="post-video">
												<div class="post-heading">
													<strong><a href="#">Introduction to Computer Science and Programming Using Python</a></strong>
												</div>
					
											</div>
											<div class="bottom-article">
												<ul class="meta-post">
													<li><a href="#">via edX</a></li>
													<li><i class="fa fa-user"></i><a href="#">15 hours a week, 9 weeks long</a></li>
												</ul>
											</div>
										</div>
									</td>
									<td>Self paced</td>
									<td></td>
								</tr>
								<tr>
									<td><div class="glyphicon glyphicon-list"></div></td>
									<td>
										<div>
											<div class="post-image">
												<div class="post-heading">
													<strong><a href="#">Machine Learning</a></strong>
												</div>
											</div>
											<div class="bottom-article">
												<ul class="meta-post">
													<li><a href="#">via edX</a></li>
													<li><i class="fa fa-user"></i><a href="#">15 hours a week, 9 weeks long</a></li>
												</ul>
											</div>
										</div>
									</td>
									<td>Self paced</td>
									<td></td>
								</tr>
								<tr>
									<td><div class="glyphicon glyphicon-list"></div></td>
									<td>
										<div>
											<div class="post-slider">
												<div class="post-heading">
													<strong><a href="#">Cryptography 1</a></strong>
												</div>
											</div>
											
											<div class="bottom-article">
												<ul class="meta-post">
													<li><a href="#">via edX</a></li>
													<li><i class="fa fa-user"></i><a href="#">15 hours a week, 9 weeks long</a></li>
												</ul>
											</div>
										</div>
									</td>
									<td>Self paced</td>
									<td></td>
								</tr>
								<tr>
									<td>
										<div class="glyphicon glyphicon-list"></div>
									</td>
									<td>
										<div class="post-video">
											<div class="post-heading">	
												<strong><a href="#">Introduction to Mathematical thinking </a></strong>
											</div>
											<div class="bottom-article">
												<ul class="meta-post">
													<li><a href="#">via edX</a></li>
													<li><i class="fa fa-user"></i><a href="#">15 hours a week, 9 weeks long</a></li>
												</ul>
											</div>
										</div>
										
										
									</td>
									<td>Self paced</td>	
									<td></td>
								</tr>
								<tr>
									<td>
										<div class="glyphicon glyphicon-list"></div>
									</td>
									<td>
										<div>
											<div class="post-video">
												<div class="post-heading">
													<a href="#">
														<strong>
														Introduction to Computer Science and Programming Using Python
														</strong>
													</a>
												</div>
					
											</div>
											<div class="bottom-article">
												<ul class="meta-post">
													<li><a href="#">via edX</a></li>
													<li><i class="fa fa-user"></i><a href="#">15 hours a week, 9 weeks long</a></li>
												</ul>
											</div>
										</div>
									</td>
									<td>Self paced</td>
									<td></td>
								</tr>
							</tbody>
						</table>
						
						
						<div id="pagination">
							<span class="all">Page 1 of 3</span>
							<span class="current">1</span>
							<a href="#" class="inactive">2</a>
							<a href="#" class="inactive">3</a>
						</div>
					</div>


				</div>
			</div>
		</section>
		

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-lg-4">
						<div class="widget">
							<h4>Browse online courses by MOOCs By </h4>
							<ul class="link-list">
								<li><a href="#">Random</a></li>
								<li><a href="#">Providers</a></li>
								<li><a href="#">Universities</a></li>
								<li><a href="#">Institutions</a></li>
								<li><a href="#">Careers</a></li>
								<li><a href="#">Languages</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4 col-lg-4">
						<div class="widget">
							<h4>Quick Links</h4>
							<ul class="link-list">
								<li><a href="#">Top 50 MOOCs of All Time</a></li>
								<li><a href="#">Improve Your Writing Skills</a></li>
								<li><a href="#">edX</a></li>
								<li><a href="#">Cousera</a></li>
								<li><a href="#">Udacity</a></li>
								<li><a href="#">FutureLearn</a></li>
								<li><a href="#">Stanford</a></li>
								<li><a href="#">Harvard</a></li>
								<li><a href="#">MIT</a></li>
								<li><a href="#">Google</a></li>
							</ul>
						</div>

					</div>
					<div class="col-sm-4 col-lg-4">
						<div class="widget">
							<h4>Newsletter</h4>
							<p>Fill your email and sign up for monthly newsletter to keep updated</p>
							<form>
								<div class="form-group multiple-form-group input-group">
									<input type="email" name="email" class="form-control">
									<span class="input-group-btn">
	                                	<input type="button" class="btn btn-theme btn-add" value="Subscribe"/>
	                        		</span>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</footer>