<section id="content">
			<div class="container">

				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
						<form role="form" method="POST" class="register-form" ng-submit="register.regUser(register.regData)">
							<div class="row">
								<div class="col-md-6">
									<button ng-click="main.facebook()" class="btn btn-block btn-social btn-facebook col-md-6">
									    <span class="fa fa-facebook"></span> Sign Up with Facebook
									 </button>
								</div>

								<div class="col-md-6">

								 <button ng-click="main.linkedin()" class="btn btn-block btn-social btn-linkedin col-md-6">
								    <span class="fa fa-linkedin"></span> Sign Up with Linkedin
								 </button>

								</div>
								
							</div>
							<h2>
								Sign Up <small>It's free.</small>

								<!--<button class="btn btn-failure pull-right">Facebook</button>
								<button class="btn btn-primary pull-right">Google</button>
								-->
							</h2>

							<hr class="colorgraph">
							<div class="jumbotron text-center" ng-show="register.loading">
								<span class="glyphicon glyphicon-repeat spinner"></span>
								<p>Loading ...</p>
							</div>
							<div class="row show-hide-message" ng-show="register.successMsg">
								<div class="alert alert-success">{{ register.successMsg }}</div>
							</div>
							<div class="row show-hide-message" ng-show="register.errorMsg">
								<div class="alert alert-danger">{{ register.errorMsg }}</div>
							</div>
						
							<div class="form-group">
								<input type="text" name="full_name" id="full_name" class="form-control input-lg" placeholder="Full Name" ng-model="register.regData.fullname" tabindex="3">
							</div>
							<div class="form-group">
								<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" ng-model="register.regData.email" tabindex="4">
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="form-group">
										<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" ng-model="register.regData.password" tabindex="5">
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="form-group">
										<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" ng-model="register.regData.password_again" tabindex="6">
									</div>
								</div>
							</div>
							<div class="row">
								
								<div class="col-xs-12 col-sm-12 col-md-12">
									By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
								</div>
							</div>

							<hr class="colorgraph">
							<div class="row">
								<div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-theme btn-block btn-lg" tabindex="7"></div>
								<div class="col-xs-12 col-md-6">Already have an account? <a href="/login">Sign In</a></div>
							</div>
						</form>
					</div>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
							</div>
							<div class="modal-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
			</div>
		</section>